MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=admin
MYSQL_DATABASE=bistek

EMAIL_ENABLED=0
EMAIL_USER=seu-email@gmail.com
EMAIL_PASSWORD=sua-senha-de-app
EMAIL_TO=destinatario@exemplo.com
EMAIL_SUBJECT=Relatorio Bistek - Produtos captados
